<tr>
  <td>1</td>
  <td>Sanatan Kisku</td>
  <td>sanatankisku@gmail.com</td>
  <td>9876543210</td>
  <td>Male</td>
  <td><a href="#">Click here</a></td>
  <td>
    <a href="/update-user" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn border-shadow delete" >
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>